@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";
body {
  background-color:  hsl(218, 23%, 16%);
}
@theme {
  --font-sans: "Oswald", sans-serif;
  --font-serif: "Inter", serif;
  --font-mono: "Inconsolata", monospace;
}